.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
	border : 1px solid black; 
  font-size: 20px;

}

*{
background-color : #F0F8FF;
}

h1 {
  font-size: 24px;
text-decoration : underline;
}

.form-group {
  margin-bottom: 10px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.success {
  color: #4CAF50;
  font-weight: bold;
}

.failure {
  color: #F44336;
  font